* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 360px;
}

.navbar {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar-links {
    display: flex;
    align-items: center;
    line-height: 24px;
    padding: 16px 30px;
}

.navbar > ul > li {
    display: inline-block;
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dots-app {
    display: inline-block;
    height: 25px;
    width: 25px;
}
.dots {
    height: 25px;
    opacity: 0.7;
}
.login {
    color: white;
    font-weight: bold;
    padding: 3px 15px;
    background-color: #4285f4;
    border-radius: 3px;
}
.login > a:hover {
    text-decoration: none;
}
.login:hover {
    background-color: #5c96f5;
}

.search {
    flex: 1 0 auto;
    width: 100vw;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.search-logo {
    margin-top: 135px;
    transition-duration: 0.5s;
    transition-property: margin-top;
}