@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 360px;
}

.navbar {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar-links {
    display: flex;
    align-items: center;
    line-height: 24px;
    padding: 16px 30px;
}

.navbar > ul > li {
    display: inline-block;
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dots-app {
    display: inline-block;
    height: 25px;
    width: 25px;
}
.dots {
    height: 25px;
    opacity: 0.7;
}
.login {
    color: white;
    font-weight: bold;
    padding: 3px 15px;
    background-color: #4285f4;
    border-radius: 3px;
}
.login > a:hover {
    text-decoration: none;
}
.login:hover {
    background-color: #5c96f5;
}

.search {
    flex: 1 0 auto;
    width: 100vw;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.search-logo {
    margin-top: 135px;
    transition-duration: 0.5s;
    transition-property: margin-top;
}
#logo-google {
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}
.search-container {
    display: flex;
}

.search-svg {
    position: relative;
    display: flex;
    flex: 0 1 582px;
    height: 44px;
    margin: 25px auto 30px;
}
.svg {
    position: absolute;
    align-self: center;
    margin-left: 45px;
    height: 20px;
    opacity: 0.3;
}

#search-box {
    margin: auto 30px;
    font-size: 15px;
    flex: 0 1 612px;
    height: 44px;
    border: 1.5px solid #e4e4e4;
    border-radius: 50px;
    padding-left: 45px;
}

#search-box:hover,
#search-box:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    outline: none;
}

.search-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-button {
    margin: auto 5px;
    font-size: 14px;
    color: #5f6368;
    background-color: #f2f2f2;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 10px 14px;
}